%h1 Sign Up
= form_for @user do |f|
  - if @user.errors.any?
    %ul
      - @user.errors.full_messages.each do |msg|
        %li
          = msg
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :email_address
    = f.text_field :email_address
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation
    = f.password_field :password_confirmation
  .field
    = submit_tag "Sign Up"

